*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}
header{
    color: white;
}
a{
    text-decoration: none;
}

header{
    padding: 10px 20px 40px 0;
    background-color: lightcyan;
   
}


.sfondo{
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header nav{
    background-color: #255ee9;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-block: 10px;
}

header nav figure,
header nav ul,
header nav a{
    background-color: #255ee9;
}

header nav ul{
    display: flex;
    gap: 40px;
    font-size: 15px;

}

header nav ul li{
    /* display: inline-block; */
    padding: 10px;
    list-style-type: none;
}

#cta{
    
    width: 60%;
    margin: 50px auto 0 auto;
    text-align: center;
    line-height: 25px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

section{
    /* border: 1px dashed black; */
    padding-block: 20px;
    /* background-color: black; */
}

section figure{
    /* background-color: lightgoldenrodyellow; */
}

section .section-text{
    /* background-color: lightgreen; */
    padding: 50px;
    font-size: 15px;
    line-height: 20px; 
    
}

section div h3{
    line-height: 40px;   
    font-weight: bold; 
    font-size: 40px;
    margin-bottom: 20px;
}

section .img-text{
    display: flex;
}

section .img-text figure{
    flex-basis: 70%;
}

section .img-text .section-text{
    flex-basis: 30%;
}

section.discord-services:nth-child(even){
    background-color: lightgray;
}

section.discord-services:nth-child(even) .img-text figure{
    order: 1;
}

section.discord-services:last-child{
    text-align: center;
}


footer{
    background-color: #23272a;
    color: white;
}

footer ul li{
    list-style-type: none;
    color: white;
}

footer .container{
    display: flex;
    /* justify-content: space-between; */
}

footer div div h4{
    color: #8ea1e1;
}

footer div div ul li a{
    color: white;
    font-size: 12px;
}
footer .container > div{
    flex-grow: 1;
    margin-top: 50px;
    line-height: 30px;
    
}

footer .container>div:first-child{
    flex-grow: 2;
}

footer .footer-login{
    display: flex;
    justify-content: space-between;
}

.accedi,
div button{
    border-radius: 20px;
    background: white;
    padding: 10px;
    color: black;
    
  }

 .tasto2{
    background-color: #23272a;
    color: white;
}

#cta-buttons{
    margin-block: 20px;
}

#cta h2{
    margin-block: 20px; 
    font-size: 40px; 
}
/* .discord-services{
    background:url("./img/wave.svg");
    
} */

section h5{
    font-size:25px;
    padding: 10px;
    margin-bottom: 20px;
}

section button{
background-color: #8ea1e1;
color: white;
border-color: #8ea1e1;
margin-bottom: 40px;
}

#primo{
    font-size: 20px;
}
#bandiera{
    height: 5px;
}

.ultimotasto{
    border-radius: 20px;
    background: #8ea1e1;
    padding: 10px;
    color: white;
}


